/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* geral */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.uppercase {
    text-transform: uppercase;
}

/* header */
header {
    background-color: #48c5ce;
    text-align: center;
    color: #fff;
    padding: 10px;
}
.title {
    font-size: 26px;
}

/* content main */
section {
    color: #fff;
}